#header{
  padding:2rem;
  border-bottom: .1rem solid #ccc;

  .name{
    font-family:"Lato", serif;
    font-size: 3rem;
    font-weight:300;
    display: block;
    float: left;
    margin: -1rem 1rem 0 0;
  }

  .btnMy{
    @include circleBtn();
    margin: 0 .5rem;
    display: inline-block;
  }
}
