@mixin circleBtn(){
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #fff;
  color: #444;
  line-height: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 .1rem .1rem rgba(50,50,50, 0.75);

  a{
    text-decoration: none;
  }
}