@import url(https://fonts.googleapis.com/css?family=Lato:400,300|Roboto:400,100,300,500|Open+Sans&subset=latin,latin-ext);
#header {
  padding: 2rem;
  border-bottom: .1rem solid #ccc; }
  #header .name {
    font-family: "Lato", serif;
    font-size: 3rem;
    font-weight: 300;
    display: block;
    float: left;
    margin: -1rem 1rem 0 0; }
  #header .btnMy {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #444;
    line-height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.75);
    margin: 0 .5rem;
    display: inline-block; }
    #header .btnMy a {
      text-decoration: none; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

#wrapper {
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  border-top: .5rem solid #FF5722; }
  #wrapper.admin {
    border-top: .5rem solid #009688; }

#content {
  padding: 1rem 0; }

/*# sourceMappingURL=app.css.map */
